.ql-container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} 
.ql-toolbar {
  /* background: rgb(48, 48, 48); */
  border-top: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button{
  /* width: 32px;
  height: 32px; */
  width: 'auto';
  height: 'auto';
}
.ql-snow .ql-stroke, .ql-snow button.ql-bold , .ql-snow button.ql-italic , .ql-snow button.ql-atButton,.ql-snow button.ql-attachButton, .ql-snow button.ql-sendattachButton svg, .ql-snow button.ql-saveButton, .ql-snow button.ql-sendattachButton, .ql-snow button.ql-share {
  display: flex;
  align-items: center;
  justify-items: center;
  flex: 0 0 2rem;
  width: 32px;
  height: 32px;
}
.ql-snow button.ql-atButton svg, .ql-snow button.ql-attachButton , .ql-snow button.ql-attachButton svg, .ql-snow button.ql-sendattachButton, .ql-snow button.ql-sendattachButton svg, .ql-snow button.ql-saveButton , .ql-snow button.ql-saveButton svg, .ql-snow button.ql-share, .ql-snow button.ql-share svg {
  width: 20px;
  height: 20px;
}

.ql-snow .ql-transparent{ 
  opacity: 1;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-options{
  bottom: 100%;
  top: unset
}
.ql-editor{
  padding: 11px 15px
}
.ql-toolbar.ql-snow{
  border-top: 0px;
  padding: 4px;
  display: flex;
  align-items: center;
}
.ql-snow.ql-toolbar button svg{
  stroke: none;
}

#toolbar button:focus{
  outline: 0;
}
.ql-snow.ql-toolbar button:focus, .focus .ql-snow.ql-toolbar button:focus{
  color: inherit;
}
.ql-editor{
  max-height: calc(30vh - 80px)
}
.ql-editor slackusermention{
  background-color: rgba(29, 155, 209, 0.1);
  color: rgb(18, 100, 163)
}
/* .ql-snow.ql-toolbar button svg, .ql-snow .ql-toolbar button svg{
  width: 2rem;
  height: 2rem;
}  */
.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button{
  width: auto;
  min-width: auto;
  height: auto;
  padding: 0px;
  margin-right: 6px;
}

.ql-snow.ql-toolbar button svg{
  width: 1.5rem;
  height: 1.5rem; 
}
